[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AquaticLifeHistory"]
	path = AquaticLifeHistory
	url = https://github.com/jonathansmart/aquaticlifehistory
