[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AquaticLifeHistory"]
	path = AquaticLifeHistory
	url = https://github.com/jonathansmart/aquaticlifehistory
[submodule "BayesGrowth"]
	path = BayesGrowth
	url = https://github.com/jonathansmart/bayesgrowth
[submodule "SharkDemography"]
	path = SharkDemography
	url = https://github.com/jonathansmart/sharkdemography
